
<% titel_name = ["Bootstrap Alert", "Bootstrap Form", ["Forms", "Base controls", "Base controls in horizontal form", "Checkbox and radio", "Checkbox and radio in horizontal form", "Collections"], "Bootstrap Glyphicon", "Bootstrap Grid System"] %>

<a name="top"></a>
<%= content_tag :h1, "Bootstrap Builder tests" %>
<hr>

<%= content_tag :h2, "Links" %>
<hr>

<% titel_name.each do |name| %>
	<% unless name.is_a? (Array) %>
		<%= link_to name, "##{name.parameterize("-")}" %><br>
	<% else %>
		<ui>
		<% name.each do |name_li| %>
			<li><%= link_to name_li, "##{name_li.parameterize("-")}" %></li>
		<% end %>
		</ui>
	<% end %>
<% end %>

<%= link_to "", "#", name: titel_name[0].parameterize("-") %>
<%= content_tag :h2, "Bootstrap Alert" %>
<hr>
	<%= bootstrap_alert { "Test" } %>
	<%= bootstrap_alert("success") { "Test" } %>
	<%= bootstrap_alert(dismissible: true) { "Test" } %>
	<%= bootstrap_alert(id: "foo", class: "bar") { "Test" } %>

<%= link_to "", "#", name: titel_name[1].parameterize("-") %>
<%= content_tag :h2, "Bootstrap Form" %>
<hr>

<%= link_to "", "#", name: titel_name[2][0].parameterize("-") %>
<%= content_tag :h3, "Forms" %>
	<%= bootstrap_form_for(@user) { |f| nil } %>
	<%= bootstrap_form_for(@user, layout: :horizontal) { |f| nil } %>
	<%= bootstrap_form_for(@user, layout: :horizontal, html: { id: "foo", class: "bar" }) { |f| nil } %>

<%= link_to "", "#", name: titel_name[2][1].parameterize("-") %>
<%= content_tag :h3, "Base controls" %>
	<%= bootstrap_form_for(@user) do |f| %>
		<%= f.text_field :name %>
		<%= f.text_field :name, label: "With my label text" %>
		<%= f.text_field :name, label: "With invisible label", invisible_label: true %>
		<%= f.text_field :name, label: "Without label", label_disabled: true %>
		<%= f.text_field :name, label: "With my label class", label_class: "my-label-class" %>
		<%= f.text_field :name, label: "With my control class", control_class: "my-control-class" %>
		<%= f.text_field :name, label: "With my form group class", form_group_class: "my-form-group-class" %>
		<%= f.text_field :name, label: "Disabled field", disabled: true %>
		<%= f.text_field :name, label: "Readonly field", readonly: true %>
		<%= f.text_field :name, label: "With my placeholder", placeholder: "My text" %>
		<%= f.text_field :name, label: "Control size", size: "lg" %>
		<%= f.text_field :name, label: "Control style", style: "success" %>
		<%= f.text_field :name, label: "With icon", icon: "ok" %>
		<%= f.text_field :name, label: "With help block", help_block: "Text for help block" %>
		<%= f.text_field :name, label: "With input group", input_group: { type: :right_char, value: ".com" } %>
		<%= f.text_field :name, label: "With my control col", control_col: 4, offset_control_col: 6 %>
	<% end %>

<%= link_to "", "#", name: titel_name[2][2].parameterize("-") %>
<%= content_tag :h3, "Base controls in horizontal form" %>
	<%= bootstrap_form_for(@user, layout: :horizontal) do |f| %>
		<%= f.text_field :name %>
		<%= f.text_field :name, label: "With my label text" %>
		<%= f.text_field :name, label: "With invisible label", invisible_label: true %>
		<%= f.text_field :name, label: "Without label", label_disabled: true %>
		<%= f.text_field :name, label: "With my label class", label_class: "my-label-class" %>
		<%= f.text_field :name, label: "With my control class", control_class: "my-control-class" %>
		<%= f.text_field :name, label: "With my form group class", form_group_class: "my-form-group-class" %>
		<%= f.text_field :name, label: "Disabled field", disabled: true %>
		<%= f.text_field :name, label: "Readonly field", readonly: true %>
		<%= f.text_field :name, label: "With my placeholder", placeholder: "My text" %>
		<%= f.text_field :name, label: "Control size", size: "lg", grid_system: "sm" %>
		<%= f.text_field :name, label: "Control style", style: "success" %>
		<%= f.text_field :name, label: "With icon", icon: "ok" %>
		<%= f.text_field :name, label: "With help block", help_block: "Text for help block" %>
		<%= f.text_field :name, label: "With input group", input_group: { type: :right_char, value: ".com" } %>
		<%= f.text_field :name, label: "With my control col", label_col: 6, control_col: 4 %>
	<% end %>

<%= link_to "", "#", name: titel_name[2][3].parameterize("-") %>
<%= content_tag :h3, "Check box and radio" %>
	<%= bootstrap_form_for(@user) do |f| %>
		<%= f.check_box :name, label: "Label text" %>
		<%= f.check_box :name, label: "Label text", form_group_label: "With my form group label" %>
		<%= f.check_box :name, label: "Label text", form_group_label: "With invisible form group label", invisible_label: true %>
		<%= f.check_box :name, label: "Label text", form_group_label: "Without form group label", label_disabled: true %>
		<%= f.check_box :name, label: "With my label class", label_class: "my-label-class" %>
		<%= f.check_box :name, label: "With my control class", control_class: "my-control-class" %>
		<%= f.check_box :name, label: "With my form group class", form_group_class: "my-form-group-class" %>
		<%= f.check_box :name, label: "Disabled field", disabled: true %>
		<%= f.check_box :name, label: "With help block", help_block: "Text for help block" %>
		<%= f.check_box :name, label: "Option one", inline: true %>
		<%= f.check_box :name, label: "Option two", inline: true %>
		<%= f.check_box :name, label: "Option tree", inline: true %>
	<% end %>

<%= link_to "", "#", name: titel_name[2][4].parameterize("-") %>
<%= content_tag :h3, "Check box and radio in horizontal form" %>
	<%= bootstrap_form_for(@user, layout: :horizontal) do |f| %>
		<%= f.check_box :name, label: "Label text" %>
		<%= f.check_box :name, label: "Label text", form_group_label: "With my form group label" %>
		<%= f.check_box :name, label: "Label text", form_group_label: "With invisible form group label", invisible_label: true %>
		<%= f.check_box :name, label: "Label text", form_group_label: "Without form group label", label_disabled: true %>
		<%= f.check_box :name, label: "With my label class", label_class: "my-label-class" %>
		<%= f.check_box :name, label: "With my control class", control_class: "my-control-class" %>
		<%= f.check_box :name, label: "With my form group class", form_group_class: "my-form-group-class" %>
		<%= f.check_box :name, label: "Disabled field", disabled: true %>
		<%= f.check_box :name, label: "With help block", help_block: "Text for help block" %>
		<%= f.check_box :name, label: "Option one", inline: true %>
		<%= f.check_box :name, label: "Option two", inline: true %>
		<%= f.check_box :name, label: "Option tree", inline: true %>
	<% end %>
	
<%= link_to "", "#", name: titel_name[2][3].parameterize("-") %>
<%= content_tag :h3, "Check box and radio" %>
	<%= bootstrap_form_for(@user) do |f| %>
		<%= f.collection_check_boxes :id, User.all, :id, :name  %>
	<% end %>

<%= link_to "", "#", name: titel_name[3].parameterize("-") %>
<%= content_tag :h2, "Bootstrap Glyphicon" %>
<hr>
	<%= bootstrap_glyphicon("thumbs-up") %><br>
	<%= bootstrap_glyphicon("thumbs-up", id: "foo", class: "bar") %>

<%= link_to "", "#", name: titel_name[4].parameterize("-") %>
<%= content_tag :h2, "Bootstrap Grid System" %>
<hr>
	<%= bootstrap_row_with_col { content_tag :h2, "Bootstrap row" } %>
	<%= bootstrap_row { "Bootstrap row" } %>
	<%= bootstrap_row_with_col { content_tag :h2, "Bootstrap column" } %>
	<%= bootstrap_col { "Bootstrap columns" } %>
	<%= bootstrap_row_with_col { content_tag :h2, "Bootstrap row with columns" } %>
	<%= bootstrap_row_with_col { "Bootstrap row with columns" } %>

<br><br>
<a href="#top">Top</a>